.panel-title {
	background-color: #eee;

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		border-bottom: 1px solid #DDD;
	}
}
.panel-body {
	position: relative;

	&[class*=loading]:after {
		background-color: fade(black, 60%);
		color: white;
		font-weight: bold;

		z-index: 3;
		position: absolute;
		left: 0;
		top: 0;
		margin: 0;

		width: 100%;
		height: 80px;
		line-height: 80px;
		text-align: center;

		content: "Loading...";
	}

	&.loading-rates:after { //if other messages are needed, we only need other "loading-"
		content: "Loading rates... It might take a while.";
	}
}

.input-group-addon .btn {
	margin: -7px -13px; //input-group-addon margin + border
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

#cartbox h2 {
	padding-bottom: 20px;
}

label {
	sup {
		color: crimson;
		font-size: 1.6em;
		vertical-align: bottom;
	}
}

#cartTable {
	margin-bottom: 0;

	th {
		white-space: nowrap;
	}
	th, td {
		vertical-align: middle;
		&:not([colspan]):last-child {
			text-align: right;
		}
	}
	.btn {
		@iconPadding: 2px;
		i.glyphicon:first-child { padding-right: @iconPadding; }
		i.glyphicon:last-child { padding-left: @iconPadding; }
	}
}

dt, dd {
	display: inline;
}

footer {
	margin-top: 40px;
}